@font-face {
  font-family: "Raleway Bold";
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: "Raleway - SemiBold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway Bold Italic";
  src: url(../fonts/Raleway-Bold-Italic.ttf);
}
@font-face {
  font-family: "Raleway Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-Heavy";
  src: url(../fonts/Raleway-Heavy.ttf);
}
@font-face {
  font-family: "Raleway Black";
  src: url(../fonts/Raleway-Black.ttf);
}
@font-face {
  font-family: "Raleway Black Italic";
  src: url(../fonts/Raleway-Black-Italic.ttf);
}
@font-face {
  font-family: "Roboto Black Italic";
  src: url(../fonts/Roboto-Black-Italic.ttf);
}
@font-face {
  font-family: "Roboto Black";
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  margin: 0;
  background: #d9a7c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header {
  height: 700px;
  background: url(../img/wallpaper.jpg) center center;
  background-size: cover;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .header {
    height: 835px;
  }
}
.header .container {
  position: relative;
}
.header .container .logo {
  width: 125px;
  height: 111px;
  background: url(../img/logo.png ) no-repeat center top;
  display: block;
  position: absolute;
  left: 69px;
  top: 25px;
  font-size: 20px;
  font-family: "Raleway Black", sans-serif;
  text-transform: uppercase;
  color: #000000;
  padding-top: 89px;
}
.header .container .logo:hover {
  color: #000000;
  text-decoration: none;
}
.header .container .socialButtons {
  position: absolute;
  right: 130px;
  top: 30px;
  padding: 15px;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .header .container .socialButtons {
    top: 50px;
    left: 15px;
    min-width: 80%;
  }
}
.header .container .socialButtons a {
  text-decoration: none;
  font-size: 20px;
}
.header .container .socialButtons i {
  color: #000000;
  font-size: 20px;
  padding: 5px 5px;
}
.header .container .socialButtons i:hover {
  color: #daffff;
}
.header .container .jpFunRide {
  position: absolute;
  right: 50px;
  top: 250px;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .header .container .jpFunRide {
    left: 15px;
    top: 450px;
  }
}
.header .container .jpFunRide .jpFunRideTitle {
  font-family: "Raleway Extra Bold", sans-serif;
  color: #fff51f;
  font-size: 48px;
  line-height: 34px;
  text-transform: uppercase;
}
.header .container .jpFunRide .jpFunRideText {
  font-family: "Raleway Regular", sans-serif;
  color: #fff51f;
  font-size: 18px;
  margin-top: 5px;
}
.header .container .jpFunRide .buttonBuyNow {
  background-color: #fff51f;
  width: 124px;
  height: 49px;
  display: block;
  line-height: 49px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: "Raleway Black", sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin-top: 62px;
}
.header .container .jpFunRide .buttonBuyNow:hover {
  color: #fff51f;
  background-color: #000000;
  text-decoration: none;
}
.header .container .welcome {
  width: 270px;
  height: 300px;
  padding: 82px 25px 0 25px;
  box-sizing: border-box;
  background-color: #fff51f;
  position: absolute;
  top: 336px;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .header .container .welcome {
    top: 250px;
  }
}
@media all and (min-width: 0) and (max-width: 767px) {
  .header .container .welcome {
    top: 111px;
    left: 15px;
  }
}
.header .container .welcome .welcomeTitle {
  font-family: "Raleway Bold", sans-serif;
  color: #333333;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.header .container .welcome .welcomeText {
  color: #333333;
  font-family: "Raleway Bold Italic", sans-serif;
  font-size: 18px;
  line-height: 14px;
  margin-top: 24px;
}
.header .container .navbar-header .navbar-brand.xsLogo {
  font-size: 20px;
  font-family: "Raleway Black", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background: url(../img/logo.png) no-repeat 15px center;
  background-size: 15%;
  padding-left: 55px;
}
.header .container .navbar-header .navbar-brand.xsLogo:hover {
  color: #000000;
}
.header .container .navbar-header .navbar-toggle:focus,
.header .container .navbar-header .navbar-toggle:hover {
  background-color: #ffffff;
}
.header .container .xsNavBar {
  border: none;
  z-index: 1;
  margin: 0 -15px;
}
.content {
  margin-top: -20px;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .content {
    margin-top: 0;
  }
}
.content .menu {
  background: #1FA2FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  list-style: none;
}
.content .menu li {
  height: 43px;
  width: 100%;
}
.content .menu li:first-child {
  height: 65px;
  background: #333;
}
.content .menu li:first-child a {
  color: #ffffff;
  line-height: 66px;
}
.content .menu li a {
  display: block;
  height: inherit;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  padding: 0 40px;
  box-sizing: border-box;
  line-height: 43px;
}
.content .menu li a:hover {
  background: #333;
  color: #ffffff;
}
.content .nowIsOpen {
  margin-top: 30px;
  height: 300px;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .content .nowIsOpen {
    margin-top: 15px;
  }
}
.content .nowIsOpen .nowIsOpenInside {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../img/store.jpg) no-repeat center;
  background-size: cover;
}
.content .nowIsOpen .nowIsOpenInside span {
  color: #333333;
  font-family: "Raleway Black Italic", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  position: absolute;
  top: 129px;
  right: 15px;
}
.content .contentHeader {
  height: 80px;
  line-height: 80px;
  background: #f8f8f8;
  font-size: 22px;
  color: #707070;
  font-family: "Roboto Black Italic", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 25px;
  margin-bottom: 30px;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .content .contentHeader.newProductsHeader {
    margin-top: 15px;
  }
}
@media all and (min-width: 583px) and (max-width: 767px) {
  .content .productUnitCol {
    width: 50%;
    float: left;
  }
}
.content .productUnitCol .productUnit {
  height: 320px;
  padding: 10px;
  box-sizing: border-box;
  background: #ffffff;
  position: relative;
  margin-bottom: 30px;
}
.content .productUnitCol .productUnit .productUnitNew,
.content .productUnitCol .productUnit .productUnitHot {
  width: 46px;
  height: 46px;
  font-size: 9px;
  color: #ffffff;
  font-family: "Roboto Regular", sans-serif;
  text-transform: uppercase;
  padding: 8px 0 0 22px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.content .productUnitCol .productUnit .productUnitNew {
  background: url(../img/new.png) no-repeat;
}
.content .productUnitCol .productUnit .productUnitHot {
  background: url(../img/hot.png) no-repeat;
}
.content .productUnitCol .productUnit .productImg {
  width: 100%;
  height: 230px;
}
.content .productUnitCol .productUnit .nameAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 45px;
  padding-top: 15px;
}
.content .productUnitCol .productUnit .nameAndPrice .name {
  font-size: 14px;
  color: #333333;
  font-family: "Roboto Black Italic", sans-serif;
  box-sizing: border-box;
}
.content .productUnitCol .productUnit .nameAndPrice .price {
  font-family: "Roboto Black Italic", sans-serif;
  text-align: right;
}
.content .productUnitCol .productUnit .nameAndPrice .price .actualPrice {
  font-size: 18px;
  color: #333333;
}
.content .productUnitCol .productUnit .nameAndPrice .price .oldPrice {
  font-size: 14px;
  color: #e24602;
  text-decoration: line-through;
}
.content .brand {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}
.content .brand img {
  margin: 5px;
}
.content .instagramFeed {
  background: #eaeaea;
  padding: 50px 0;
  box-sizing: border-box;
}
.content .instagramFeed .instagramTitle {
  width: 100%;
  font-size: 22px;
  color: #333333;
  font-family: "Roboto Black Italic", sans-serif;
  text-align: center;
}
.content .instagramFeed .instagramTitle i {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.content .instagramFeed .instagramTitle span {
  font-size: 18px;
}
.content .instagramFeed .instagramPhoto {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content .instagramFeed .instagramPhoto img {
  padding: 8px;
  background: #ffffff;
  margin: 2px;
}
.content .socialNetworks {
  display: flex;
  flex-direction: row;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .content .socialNetworks {
    flex-direction: column;
    align-items: stretch;
  }
}
.content .socialNetworks a {
  width: calc(33.33333333%);
  height: inherit;
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  display: flex;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .content .socialNetworks a {
    width: auto;
  }
}
.content .socialNetworks a:nth-child(1) {
  background-color: #3b5997;
}
.content .socialNetworks a:nth-child(2) {
  background-color: #3fccfd;
}
.content .socialNetworks a:nth-child(3) {
  background-color: #cb2027;
}
.footer {
  min-height: 340px;
  background-color: #373737;
  color: #ffffff;
  text-align: justify;
}
.footer > .container:before,
.footer > .container:after {
  display: none;
}
.footer .footerUpWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 75px;
  box-sizing: border-box;
}
@media all and (min-width: 0) and (max-width: 991px) {
  .footer .footerUpWrapper .footerColumn {
    flex-grow: 1;
    padding: 10px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .footer .footerUpWrapper .footerColumn:nth-child(1) {
    margin-left: -10px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .footer .footerUpWrapper .footerColumn:nth-child(4) {
    margin-right: -10px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .footer .footerUpWrapper .footerColumn:nth-child(5) {
    margin: 0 -10px;
  }
}
.footer .footerUpWrapper .footerColumn .headColumn {
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 28px;
}
.footer .footerUpWrapper .textColumn a {
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 4px;
}
.footer .footerUpWrapper .newsLetter {
  width: 270px;
}
.footer .footerUpWrapper .newsLetter .headColumn {
  margin-bottom: 5px;
}
.footer .footerUpWrapper .newsLetter .columnNewsLetter {
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.footer .footerUpWrapper .newsLetter .columnNewsLetter .textNewsLetter {
  margin-bottom: 31px;
}
.footer .footerUpWrapper .newsLetter .columnNewsLetter input {
  background-color: #fff51f;
  width: 180px;
  height: 30px;
  outline: none;
  border: none;
  padding: 0 5px;
  box-sizing: border-box;
  float: left;
  color: #000000;
}
.footer .footerUpWrapper .newsLetter .columnNewsLetter button {
  width: 71px;
  height: 30px;
  background: #000000;
  color: #ffffff;
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border: 0;
  outline: none;
}
.footer .footerUpWrapper .newsLetter .columnNewsLetter button:hover {
  background: #ffffff;
  color: #000000;
  cursor: pointer;
}
.footer .footerUpWrapper .newsLetter .columnNewsLetter .payCards {
  margin-top: 45px;
}
.footer .footerUpWrapper .newsLetter .columnNewsLetter .payCards img {
  float: left;
  margin-right: 5px;
}
.footer .footerUpWrapper .aboutUs {
  width: 232px;
  color: #ffffff;
  font-family: "Roboto Regular", sans-serif;
}
.footer .footerUpWrapper .aboutUs .textAboutUs {
  font-size: 12px;
  text-align: justify;
  line-height: 14px;
}
.footer .footerUpWrapper .aboutUs .phone {
  font-size: 14px;
  margin-top: 14px;
}
.footer .footerUpWrapper .aboutUs .phone span {
  margin-right: 10px;
}
.footer .footerUpWrapper .aboutUs .e-mail {
  margin-top: 14px;
  color: #ffffff;
  font-size: 14px;
}
.footer .footerUpWrapper .aboutUs .e-mail span {
  margin-right: 10px;
  color: #fff51f;
}
.footerDown {
  background: #333;
}
.footerDown .footerDownWrapper {
  min-height: 47px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 0) and (max-width: 767px) {
  .footerDown .footerDownWrapper {
    flex-direction: column;
    justify-content: space-around;
  }
}
.footerDown .footerDownWrapper:before,
.footerDown .footerDownWrapper:after {
  display: none;
}
.footerDown .footerDownWrapper > div {
  min-height: inherit;
}
.footerDown .footerDownWrapper .allRights {
  font-size: 12px;
  line-height: 47px;
  font-family: "Roboto Regular", sans-serif;
}
.footerDown .footerDownWrapper .socialIcons {
  width: 138px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}
